server {
    listen 80;
    server_name _;

    root /var/www/pentair/api;
    index index.php index.html;

    location ~ /api {

        # requires http://wiki.nginx.org/HttpHeadersMoreModule to handle response codes that add_header ignores
        more_set_headers "Access-Control-Allow-Origin: $http_origin";
        more_set_headers "Access-Control-Allow-Credentials: true";
        more_set_headers "Access-Control-Allow-Methods: GET, POST, DELETE, PUT, OPTIONS";
        more_set_headers "Access-Control-Allow-Headers: Keep-Alive,User-Agent,If-Modified-Since,Cache-Control,Content-Type,Author>"
        more_set_headers "Access-Control-Max-Age: 1728000";

        alias /var/www/pentair/api/public;
        try_files $uri /index.php =404;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass unix:/var/run/php/php8.1-fpm.sock;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }
}